.formacao {
  background: #141414;
  color: white;
}

.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.subtitulo {
  color: black;
}

.formacao-texto {
  margin-bottom: 60px;
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  color: #a3a3a3;
}
.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: black;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.faculdade-nivel {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
  text-transform: uppercase;
}
.faculdade::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  left: -4px;
}

.cursos {

  margin-bottom: 60px;
}

.formacao-extras h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extras h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
 }


 .formacao-extras h3::before{
  background: url(../img/cursos.svg) no-repeat center center;
}

.formacao-extras .idiomas h3::before{
  background: url(../img/idiomas.svg) no-repeat center center;

}
 .formacao-extras li{
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
 }

 .formacao-extras span{
  color: #8f8f8f;
 }

 .cursos li{
  display: flex;
  justify-content: space-between;
 }

 @media(max-width:800px){
  .formacao-container{
  grid-template-columns: 1fr;
  }
  .subtitulo{
    font-size: 6rem;
  }
  .formacao-texto{
    font-size: 1.25rem;
  }
  .formacao-extras h3::before{
  position: initial;
  }
  }

  @media(max-width:400px){
    .formacao .subtitulo{
      max-width: 6ch;
    }
  }
  
 
